<footer id="footer" class="main-footer py-4 mt-5 text-white position-relative">
    <div class="container text-center">
        <div class="social-icons mb-3 d-flex justify-content-center gap-3 flex-wrap">
            <a href="https://github.com/MahmoudMo99" target="_blank" class="footer-icon github">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://linkedin.com/in/mahmoud-mohamed-a25901223" target="_blank" class="footer-icon linkedin">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="mailto:mmahmoud092002@gmail.com" class="footer-icon email">
                <i class="bi bi-envelope-fill"></i>
            </a>
            <a href="https://wa.me/+201155347463" target="_blank" class="footer-icon whatsapp">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>

        <small>© {{ currentYear }} Mahmoud Mohamed. All rights reserved.</small>
    </div>


    @if ( showBackToTop ) {
    <button class="back-to-top" (click)="scrollToTop()" title="Back to top">
        <i class="bi bi-arrow-up"></i>
    </button>
    }


</footer>