<div class="container-fluid">
    <section class="hero-section d-flex align-items-center text-white">
        <div class="container text-center text-md-end">
            <p class="intro-text animate-fade-up ">I'm</p>
            <h1 class="fw-bold display-3 animate-fade-up delay-1">Mahmoud Mohamed</h1>
            <p class="lead fs-4 animate-fade-up delay-2">Software Engineer | Angular Frontend Developer</p>
            <div class="animate-fade-up delay-3 d-flex justify-content-center justify-content-md-end gap-3">
                <a class="btn btn-outline-light px-4" href="https://github.com/MahmoudMo99" target="_blank">GitHub</a>
                <a class="btn btn-light text-dark px-4" href="https://www.linkedin.com/in/mahmoud-mohamed-a25901223/"
                    target="_blank">LinkedIn</a>
            </div>
        </div>
    </section>
</div>