<div class="container-fluid">
    <section class="hero-section d-flex align-items-center text-white">
        <div class="container text-center text-md-end">
            <h1 class="fw-bold display-3 animate-fade-up delay-1 name">Mahmoud Mohamed</h1>
            <p class="lead fs-4 animate-fade-up delay-2 title">Software Engineer | Angular Frontend Developer</p>
            <div class="animate-fade-up delay-3 d-flex justify-content-center justify-content-md-end gap-3 flex-wrap">
                <a class="btn btn-github px-4" href="https://github.com/MahmoudMo99" target="_blank">
                    <i class="bi bi-github me-2"></i> GitHub
                </a>
                <a class="btn btn-linkedin px-4" href="https://www.linkedin.com/in/mahmoud-mohamed-a25901223/"
                    target="_blank">
                    <i class="bi bi-linkedin me-2"></i> LinkedIn
                </a>
            </div>
        </div>
    </section>
</div>