<div class="container-fluid">
    <section id="features" class="features-section py-5 section-container-border">
        <div class="container text-center">

            <div class="section-tag mb-2">
                <span>What I Do</span>
            </div>
            <h2 class="fw-bold mb-5 title-color">My Provided Features</h2>

            <div class="row g-4">
                <div class="col-md-4">
                    <div class="card h-100 p-4 shadow-sm rounded text-start">
                        <div class="feature-icon mb-3">
                            <i class="bi bi-code-slash"></i>
                        </div>
                        <h5 class="fw-bold mb-2">Web Development</h5>
                        <p>Frontend & backend development using Angular, Node.js, and modern web technologies.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100 p-4 shadow-sm rounded text-start">
                        <div class="feature-icon mb-3">
                            <i class="bi bi-easel"></i>
                        </div>
                        <h5 class="fw-bold mb-2">UI/UX Design</h5>
                        <p>Designing clean, intuitive interfaces using Figma and responsive layouts.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card h-100 p-4 shadow-sm rounded text-start">
                        <div class="feature-icon mb-3">
                            <i class="bi bi-person-video3"></i>
                        </div>
                        <h5 class="fw-bold mb-2">Mentoring & Training</h5>
                        <p>I provide mentorship in freelancing, technical skills, and career development. I’ve guided
                            learners in programs like EYouth to start their software careers confidently.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>